.searchPage_header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  align-items: flex-start;
  padding: 30px;
  border: 1px solid lightgray;
}
.searchPage_header img {
  height: 50px;
  margin-right: 20px 20px;
}
.searchPage_option {
  display: flex;
  align-items: center;
  color: gray;
  margin-top: -15px;
}
.searchPage_option a {
  text-decoration: none;
  color: gray;
  margin-left: 5px;
}
.searchPage_optionLeft,
.searchPage_optionRight {
  display: flex;
  align-items: center;
}
.searchPage_option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.searchPage_optionRight {
  margin-left: 0px;
}
.searchPage .search__input {
  margin-top: -10px;
}
.searchPage_resultCount {
  color: #70757a;
  font-size: 14px;
}
.searchPage_result {
  margin: 20px 0px;
}
.searchPage_resultLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-bottom: 3px;
}
.searchPage_resultTitle {
  text-decoration: none;
}
.searchPage_resultTitle:hover {
  text-decoration: underline;
}
.searchPage_resultTitle h2 {
  font-weight: 500;
}
.searchPage_resultdescription {
  margin-top: 5px;
}
.searchPage__results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.searchPage__resultImage {
  object-fit: contain;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.serchPage__dataLink {
  text-decoration: none;
  color: #1a0dab;
}

.searchPage__result {
  margin: 30px 0;
}

.searchPage__resultCount {
  color: #70757a;
  font-size: 14px;
}

.searchPage__resultTitle {
  text-decoration: none;
  font-size: 13px;
  color: #1a0dab;
}

.searchPage__resultTitle:hover {
  text-decoration: underline;
}

.searchPage__resultTitle > h2 {
  font-weight: 500;
}

.searchPage__resultSnippet {
  margin-top: 5px;
}
